/* Override styles for dark mode */
body.dark {
    background-color: #1b1b1b;
    color: #ffffff;
}

body.dark h1 {
    color: #ffffff;
}

.nav.dark {
    background-color: #222222;
}

.nav.dark a {
    color: #ffffff;
}

.nav.dark h1 {
    color: #ffffff;
}

/* Additional styles for specific elements */
.dark .heading {
    color: #ffffff;
}

.dark .button {
    background-color: #222222;
    color: #ffffff;
}
