:root {
    --clr-primary-300: hsl(0, 0%, 15%);
    --clr-primary-600: hsl(0, 0%, 7%);
    --clr-primary-900: #020202;
    --clr-primary-indigo: rgb(128, 50, 252);
    --clr-primary-pink: rgb(213, 4, 255);

    --clr-neutral-100: rgb(254, 250, 255);
    --clr-neutral-900: rgb(192, 190, 190);

    --ff-primary: "Cuprum", sans-serif;

    --fz-primary-0_4: 0.4rem;
    --fz-primary-0_6: 0.6rem;
    --fz-primary-0_8: 0.8rem;
    --fz-primary-1: 1rem;
    --fz-primary-1_2: 1.2rem;
    --fz-accent-2: 2rem;

    /* Light theme */
    --theme-background-light: rgb(237, 237, 237);
    --theme-text-light: rgb(11, 11, 11);

    /* Dark theme */
    --theme-background-dark: #000000;
    --theme-text-dark: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--ff-primary);
    transition: 0.1s;
}

html,
body {
    line-height: 1.4;
    scroll-behavior: smooth;
    min-height: 100vh;
    width: 100%;
    background-color: var(--theme-background-light);
}

.hire-me-button {
    background-color: #007bff;
    color: white;
    padding: 15px 50px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.hire-me-button:hover {
    background-color: #0056b3;
}

.hire-me-button:active {
    background-color: #004085;
}

.toggle-theme-button {
    background-color: #020202;
    border: none;
    width: 1px;
    height: 1px;
    position: absolute;
    top: 20%;
    right: 5%;
    cursor: pointer;
}

.toggle-theme-button img {
    width: 2rem;
}

.smaller-width {
    width: 77%;
}

.red-text {
    color: rgb(86, 86, 255);
    text-decoration: none;
}

.red-text:hover {
    color: rgb(24, 24, 223);
}

.white-text {
    color: white;
}

.cv-download-button {
    color: rgb(32, 64, 247);
    font-size: 1.5rem;
    text-decoration: none;
}

.cv-download-button:hover {
    color: rgb(233, 2, 2);
}

hr {
    height: 0.5px;
    background-color: white;
    border: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-left-align {
    text-align: left;
}

.right {
    position: relative;
    left: 13rem;
}

@media (max-width: 500px) {
    .right {
        left: 7rem;
    }
}

.smaller-hr {
    width: 20rem;
}

.full-screen-height {
    min-height: 100vh;
}

.NHlogo {
    width: 100%;
}

.logos {
    height: 1rem;
    will-change: filter;
}

.logos:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

@keyframes logos-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(1) .logos {
        animation: logos-spin infinite 20s linear;
    }
}

.extra-margin-top {
    margin-top: 7rem;
}

.small-extra-margin {
    margin: 4rem;
}

.small-margin-bottom {
    margin-bottom: 2rem;
}

.medium-margin-bottom {
    margin-bottom: 4rem;
}

.huge-margin-bottom {
    margin-bottom: 9rem;
}

.nikohoffrenmusic-link {
    color: red;
    font-size: 1.2rem;
    text-decoration: none;
}

.nikohoffrenmusic-link:hover {
    color: rgb(161, 3, 3);
}

.projects-link {
    color: red;
    font-size: 1.2rem;
    text-decoration: none;
}

.projects-link:hover {
    color: rgb(161, 3, 3);
}

.header {
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.footer-image {
    margin: 10px auto;
    width: 80%;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    text-align: center;
    padding: 150px 0;
}

.footer-image h1 {
    color: whitesmoke;
    margin-bottom: 40px;
    padding: 0;
}

@media (max-width: 700px) {
    .footer-image h1 {
        font-size: 30px;
    }
}

@media (max-width: 1000px) {
    .screen-padding {
        padding-top: 100px;
    }
}

.footer {
    width: 100%;
    text-align: center;
    background-color: rgb(15, 15, 15);
    position: relative;

    padding: 0;
    margin: 0;
}

.footer h3 {
    font-size: 35px;
    margin-bottom: 0.3rem;
    margin-top: 1rem;
    font-weight: 600;
}

.arial {
    font-family: "Arial", sans-serif;
    font-size: var(--fz-primary-0_8);
}

.white {
    color: rgb(255, 255, 255);
}

.nav {
    background-color: rgb(9, 9, 9);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem 2rem;
    position: fixed;
    opacity: 0.88;
    margin-top: 0.5rem;
    z-index: 10;
}

nav img {
    width: 4rem;
    margin: 1rem;
}

.nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    padding: 5px;
}

.nav li {
    margin-top: 25px;
    padding-left: var(--fz-primary-0_4);
    padding-right: var(--fz-primary-0_4);
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    height: 100%;
}

.nav ul li ::after {
    content: "";
    width: 0%;
    height: 2px;
    background: var(--clr-primary-pink);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav ul li :hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 20px;
    color: whitesmoke;
}

nav .fa {
    display: none;
}

@media (max-width: 700px) {
    .extra-margin-top {
        margin-top: 3rem;
    }
    .text-box h1 {
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links-2 ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: var(--clr-primary-indigo);
        height: 100%;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .nav-links-2 {
        position: fixed;
        background: var(--clr-primary-indigo);
        height: 100%;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa {
        display: block;
        color: rgb(255, 255, 232);
        margin: 0.5rem;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .nav-links-2 ul {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .iconsHeader .fa {
        margin-bottom: 115px;
    }
    .super-extra-margin-top {
        margin-top: 8rem;
    }
}

/*------ Programming ------*/

.programming {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*------ Portfolio ------*/

.bio {
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: var(--fz-accent-2);
}

.bio-info {
    flex-basis: 30%;
    border-radius: 10px;
    text-align: left;
    padding: 4rem;
    margin: 0.5rem;
}
#NHphoto {
    width: 40%;
    border-radius: 100%;
    float: left;
    margin: 20px;
}

.mobileNHPhoto {
    width: 70%;
    border-radius: 100%;
    margin-bottom: 2rem;
}

@media (max-width: 750px) {
    #NHphoto {
        width: 50%;
    }
    .bio {
        width: 90%;
    }

    .bio-info {
        padding: 0.5rem;
        margin-bottom: 4%;
    }
}
@media (max-width: 600px) {
    #NHphoto {
        width: 35%;
    }
}

/*------ Music ------*/

.music {
    background: --theme-background;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: var(--fz-accent-2);
}

h1 {
    color: var(--theme-text);
    font-size: 36px;
    font-weight: 600;
}

.music p {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

p {
    color: var(--theme-text);
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.music-col {
    flex: content;
    background: var(--clr-neutral-100);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 10px 5px;
    box-sizing: border-box;
    transition: 0.5s;
    cursor: pointer;
}
.music-col img {
    height: 300px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5%;
}

.music-col a {
    text-decoration: none;
}

h3 {
    color: var(--theme-text);
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.music h3 {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 600;
}

.music h4 {
    color: rgb(82, 0, 121);
    font-size: 22px;
    font-weight: 600;
}
.music-col:hover h4 {
    color: rgb(255, 72, 72);
}

.music-col:hover,
.music-col:focus {
    box-shadow: 0 0 30px 10px rgba(228, 95, 255, 0.5);
}

@media (max-width: 700px) {
    .row {
        flex-direction: column;
    }
    .music-col {
        padding: 5px;
    }
    .music {
        width: 100%;
    }
}

/*------ Videos ------*/

.videos {
    background: --theme-background;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: var(--fz-accent-2);
    padding-bottom: 50px;
    box-sizing: border-box;
}

.videos-row {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.videos-col {
    position: inherit;
    background: var(--clr-neutral-100);
    border-radius: 10px;
    margin-bottom: 2%;
    padding: 4px 4px;
    margin: 10px;
    width: 40%;
}

.videos-col iframe {
    position: inherit;
    width: 100%;
    height: 285px;
}

@media (max-width: 700px) {
    .videos-row {
        flex-direction: column;
        width: 100%;
    }
    .videos-col {
        width: 93%;
    }
    iframe {
        height: 260px;
    }
}

/*------ Gear ------*/

.gear {
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.gear-col {
    flex-basis: 100%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
}
.gear-col img {
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gear-col p {
    padding: 0;
}
.gear-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
}

/* ------- Portfolio ------- */

.portfolio-col {
    flex: content;
    background: rgb(37, 37, 37);
    border-radius: 12px 12px 12px 12px;
    margin-bottom: 5%;
    box-sizing: border-box;
    transition: 0.5s;
    cursor: pointer;
    color: var(--theme-text);
    position: relative;
}

.portfolio-col img {
    height: 250px;
    border-radius: 8px 8px 0 0;
    width: 100%;
    object-fit: cover;
}

.portfolio-col a {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-decoration: none;
}

.portfolio-col h3,
.portfolio-col p,
.portfolio-col .portfolio-col-link,
.portfolio-col .arial {
    position: relative;
    z-index: 1;
}

.portfolio-col-link {
    font-size: 1.2rem;
    color: hsl(0, 0%, 50%);
}

.portfolio-col-link:hover {
    color: red;
}

.portfolio-col:hover h2 {
    color: rgb(255, 72, 72);
}

.portfolio-col:hover,
.portfolio-col:focus {
    box-shadow: 0 0 30px 10px rgba(230, 103, 255, 0.5);
}

@media (max-width: 700px) {
    .portfolio-col {
        padding: 5px;
    }
}

.copyright {
    background-color: rgb(19, 19, 19);
}

.icons .fa {
    color: #fdd6d3;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    font-size: 30px;
}

.header-icons {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.iconsHeader .fa {
    color: #fdd6d3;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    font-size: 30px;
    position: relative;
    bottom: 120px;
    text-align: center;
}

.fa-facebook:hover {
    color: rgb(0, 32, 211);
    transition: 0.5s;
}
.fa-twitter:hover {
    color: rgb(0, 98, 211);
    transition: 0.5s;
}
.fa-instagram:hover {
    color: darkviolet;
    transition: 0.5s;
}

.fa-linkedin:hover {
    color: rgb(0, 56, 211);
    transition: 0.5s;
}

@media (max-width: 500px) {
    .icons {
        max-width: 200px;
        margin: auto;
    }
}

.header2-hero {
    height: 100%;
    position: relative;
}

.header2-info {
    margin-top: 8%;
    margin-left: 15%;
    max-width: 38em;
}

.header2-info h1 {
    padding-top: 30px;
    font-size: 5rem;
}

.header2-info p {
    padding: 0;
    margin-bottom: 0.5rem;
}

.header2-info h2 {
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-size: 2rem;
}

.header2-img-box {
    width: 40%;
    height: 100%;
    right: 100px;
    top: 5rem;
    position: absolute;
}

.header2-img-box img {
    width: 600px;
    height: 680px;
    left: 45%;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
    transition: 1s;
    margin-top: 0;
    padding-top: 0;
}

.hidden {
    display: none;
}

@media (max-width: 1600px) {
    .mobileNHPhoto {
        display: inline-block;
    }

    .header2-img-box img {
        display: none;
    }

    .header2-img-box {
        position: inherit;
    }
    .header2-hero {
        position: inherit;
        padding-top: 4rem;
    }
    .header2-info {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .header2-info h1 {
        font-size: 3.7em;
        position: inherit;
    }
    .header2-info p {
        position: inherit;
    }
}

@media (max-width: 1200px) {
    .toggle-theme-button {
        top: 20%;
        right: 8%;
    }
}

@media (max-width: 700px) {
    .toggle-theme-button {
        top: 5.5%;
        right: 40%;
    }
}

.bold {
    font-weight: bold;
}

.hero-button {
    font-size: 1.3rem;
    color: rgb(249, 96, 96);
    text-decoration: none;
    transition: 1s;
}

.hero-button:hover {
    box-shadow: 0 0 30px 10px rgba(230, 103, 255, 0.2);
    transition: 1s;
}

.hero-button > a:hover {
    color: rgb(60, 0, 255);
    transition: 1s;
}

.language-selector {
    position: relative;
    top: 0.1em;
    margin-left: 0.9rem;
}

.language-flag {
    height: 1.2rem;
    width: 1.7rem;
    border-radius: 1%;
    margin: 0;
}
.language-flag:hover {
    cursor: pointer;
}

.hyphens {
    hyphens: manual;
}

.container-left-align ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container-left-align ul li {
    background: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 10px;
    margin: 10px;
    flex: 1 0 200px; /* Adjust this value to change the minimum width of the items */
    transition: background 0.3s;
    color: #3d009e;
    box-shadow: 0px 5px 15px rgba(73, 0, 190, 0.5);
}

.container-left-align ul li:hover {
    background: #d9b1ff;
    color: #000;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

form h1 {
    margin-bottom: 20px;
}

form label {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form textarea {
    resize: vertical;
    min-height: 100px;
}

form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0429ff;
    color: #fff;
    cursor: pointer;
    font-size: large;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #5517ff;
}
